<nav class="navbar navbar-expand-sm bg-info navbar-dark">
    <ul class="navbar-nav">
        <div>
            <li class="nav-item active" routerLinkActive="active-class">
                <a class="nav-link" routerLink="/homePage">Home</a>
            </li>
        </div>

        <div>
            <li class="nav-item active" routerLinkActive="active-class">
                <a class="nav-link" routerLink="/getEmployeeSkillsInformation">View EmployeeSkills</a>
            </li>
        </div>

        <div>
            <li class="nav-item active" routerLinkActive="active-class">
                <a class="nav-link" routerLink="/addEmployeeSkillsInformation">Add EmployeeSkills Information</a>
            </li>
        </div>

        
    </ul>
</nav>
<router-outlet></router-outlet>