<div class="container deleteStudent">
    <div class="alert alert-primary" role="alert" *ngIf="studentDeleteSuccess" style="margin:10px">
         EmployeeSkills record deleted successfully
    </div>
    <div class="alert alert-danger" role="alert" *ngIf="studentDeleteFailed" style="margin:10px">
        Unable to Delete a  EmployeeSkills record
    </div>
    <div class="row">
        <div class="col-md-3 register-left">
           
        </div>
    </div>
    <div class="col-md-9 register-right">
        <ul class="nav nav-tabs nav-justified" id="studentTab" role="tablist"></ul>
        <div class="tab-content" id="studentTabContent">
            <div class="tab-pane fade show active" id="student" role="tabpanel" aria-labelledby="studentTab">
                <h4 class="register-heading">Delete EmployeeSkills Information</h4>
                <div class="row register-student">
                    <div class="col-md-9">
                        <div class="form-group">
                            <input type="text" class="form-control" id="studentIdToBeDeleted" minlength="4" maxlength="20" #studentName="ngModel"
                                     [(ngModel)]="studentIdToBeDeleted" placeholder="Enter Student Id to be deleted*" value="" readonly />
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" id="studentName"  #studentName="ngModel"
                                     [(ngModel)]="employeeSkillsInfo.studentName" value=""  readonly/>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" id="email"  #email="ngModel"
                                        [(ngModel)]="employeeSkillsInfo.email"  value="" readonly/>
                        </div>
                        
                        <div class="form-group">
                            <input type="text" class="form-control" id="contactNumber"  #contactNumber="ngModel"
                                        [(ngModel)]="employeeSkillsInfo.contactNumber" value="" readonly/>
                        </div>
                       
    
                        <div class="form-group">
                            <input type="text" class="form-control" id="coursesFamiliarWith"  #coursesFamiliarWith="ngModel"
                                        [(ngModel)]="employeeSkillsInfo.coursesFamiliarWith"  value="" readonly/>
                        </div>
                    </div>
                    <div class="col-md-3">

                    </div>
                </div>
                <div><button class="btn btn-success" (click)="onSubmit()">Delete EmployeeSkills Information</button>

                    &nbsp;&nbsp;&nbsp;&nbsp;<a class="nav-link" class="btn btn-danger" routerLink="/getEmployeeSkillsInformation">Back</a></div>

            </div>
        </div>
    </div>
</div>

 