<div>
    <div  style="margin-top:10px; clear:both; font-size: 25px; font-weight: bold; color:indianred;">
        EmployeeSkills Information Management System
    </div>
     <div  style="margin-top:10px; clear:both">
        Click here to <a href="nav-link" routerLink="/getEmployeeSkillsInformation"> View EmployeeSkills Information</a>
    </div>
    <div style="margin-top:10px; clear:both">
        Click here to <a href="nav-link" routerLink="/addEmployeeSkillsInformation"> Add EmployeeSkills Information</a> 
    </div>
</div>
